<div id="treks-list">
    <a href="#/details" class="card overflow-hidden treksPlaceholder trek-details" style="width: 20rem; height: 18rem;">
        <div class="card-body">
            <p class="card-text">{{Location}}</p>
        </div>
        <img class="card-image"
            src="{{image}}"
            alt="Card image cap">
    </a>
</div>